{% set pageType = 'landing' %}
{% extends "base-template.twig" %}
{% block title %}{{ GlobalConfig.serviceNameLong(request.lang) }}{% endblock %}
{% block description %}{{ GlobalConfig.serviceDescription(request.lang) }}{% endblock %}
{% block url %}{{ BaseHref }}{{ request.langurl }}{% endblock %}

{% block content %}
<div class="col-md-7">
  <div class="px-4 py-4 bg-medium" id="vocabulary-list">
    {% if request.vocabList|length == 0 %}
    <h2 class="fs-2 fw-bold">{{ "No vocabularies on the server!" | trans }}</h2>
    {% else %}
      {% if category_label %}
      <h2 class="fs-2 fw-bold py-3">{{ category_label }}</h2>
      {% else %}
      <h2 class="fs-2 fw-bold py-3">{{ "Available vocabularies and ontologies" | trans }}</h2>
      {% endif %}
      {% for vocabClassName,vocabArray in request.vocabList %}
      <div class="vocab-category border-top pb-5">
        <h3 class="fs-3 pt-2">{{ vocabClassName }}</h3>
        <ul class="list-group">
        {% for vocab in vocabArray %}
          <li class="list-group-item border-0 ps-0"><a class="fs-4 fw-bold" href="{{ vocab.id }}/{{ request.lang }}/{% if request.contentLang != request.lang and request.contentLang != '' and request.contentLang in vocab.config.languages %}?clang={{ request.contentLang }}{% endif %}">{{ vocab.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

